body{
    margin: 0px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}
.column1{
    background-color: aqua;
}
.column2{
    background-color: blue;
}
.header{
    grid-column: 1/3;
    background-color: grey;
}