.container{
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 33%;
}
@media (max-width: 768px){
    img {
        width: 48%;
    }
}
@media (max-width: 480px){
    img {
        width: 100%;
    }
}