@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif !important;
    padding: 0px !important;
    margin: 0px !important;
    background-color: #E5E5E5 !important;
}
section{
    margin: 50px 0;
}

/* header */
.header {
    padding: 20px;
    margin-bottom: 50px;
}
.logo{
    width: 213px;
    height: 57px;
}

.header nav {
    justify-content: end;
}

.navbar-toggler {
    color: #000000 !important;
    border: none !important;
    padding: 8px 24px !important;
}

.navbar.navbar-expand-lg {
    width: 100% !important;
}
.carousel img{
    height: 600px; 
    width: 1100px;
}
/* quem somos */
.table tr{
    margin: 0;
}
.table-bordered{
    border:#000000 !important;
}
.table td,th{
    background-color: #E5E5E5 !important;
}
@media (max-width: 990px) {
    .carousel img{
        height: 300px;
    }
}
